{% extends 'layout.html' %}

{% block body %}
<div class ="jumbotron text-center">
<p>The main aim of the project is to  produce a web-based system that allow customer to effectively manage their stock. Investing is very much essential these days as savings alone is not adequate to fulfill all our financial goals and also to beat inflation.  
    In today’s busy world, technological advances have made the entire process of investing and managing investments easier without any hassles. 
    Anyone can have a complete hold on investments even through smartphone. You can stay connected with the market always as investing in the stocks requires constant monitoring of the stock market.
</p>
Trading in the stock market has become less time consuming these days as you can trade all by yourself without the assistance of a broker by means of online trading. Trading platforms provide all the necessary support and assistance by providing secured real time access to trading, research reports, price analysis of stocks, market news, etc. 
You can buy or sell shares if you have a trading account and an internet connection.
You can place trade orders or cancel orders at your will from the comforts of your home. It allows you to make your own decision with regards to trading without any interference of the broker. 
You can buy shares or invest in IPO or buy mutual funds as well.Online trading can be done by simply opening a demat and trading account with any SEBI registered broker.
 Account opening can be done in a matter of 15 minutes.
</p>
<p>
Stock Portfolio Management System(SPMS) is a online platform which extract data from National Stock Exchange(NSE) website enables user to view , purchase , sell and manage stock.
The aim is to produce a web-based system that allow customer to effectively manage their stock and to eliminate brokerage fees and paper work.
</p>
</div>
{% endblock %}    